:root {
  --card-width: 15rem;
  --padding: 1rem;
  --radius: 1rem;
  --color-backg-light: rgb(255, 255, 255);
  --color-backg-dark: rgb(34, 34, 34);
  --color-text-light: rgb(255, 255, 255);
  --color-success: rgba(12, 148, 12, 0.8);
  --color-debtor: rgba(245, 5, 5, 0.8);
  --color-border: rgb(204, 204, 204);
  --color-backg-body: rgb(248, 250, 252);
  --color-button: rgb(99, 102, 241);
  --color-button-hover: rgb(64, 66, 236);
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1.25rem;
  margin-top: 2.5rem;
  font-family: system-ui, sans-serif;
  background: var(--color-backg-body);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  width: var(--card-width);
  padding: var(--padding);
  border-radius: var(--radius);
  border: 2px solid var(--color-border);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(36, 35, 35, 0.2);
}

.card--white {
  background: var(--color-backg-light);
}

.card--dark {
  background: var(--color-backg-dark);
  color: var(--color-text-light);
}

.card__img {
  width: 100%;
  border-radius: 0.6rem;
}

.card__name {
  margin: 0.3rem 0 0;
  text-align: center;
}

.card__specialty {
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

.card__status {
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}

.card__status--successful {
  background: var(--color-success);
  color: white;
}

.card__status--debtor {
  background: var(--color-debtor);
  color: white;
}

.card__button {
  margin-top: auto;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 0.8rem;
  color: white;
  background: var(--color-button);
  transition: background-color 0.3s ease;
}

.card__button:hover {
  background-color: var(--color-button-hover);
}
